@using FarmaShop.Web.Models.Category
@model CategoryHomeItemModel

<div class="card m-5" style="width: 12rem;">
    <div class="card-body">
        <img class="card-img-top m-2" src="favicon.ico" alt="@Model.Name Image">
        <h5 class="card-title">@Model.Name</h5>
    </div>
</div>
