@using FarmaShop.Data.Repositories
@using FarmaShop.Data.Models
@using System.Collections
@inject IRepository<Category> Repository
@{
    var categories = await Repository.GetAll();
}

<nav id="sidebar" class="active">
    <div class="sidebar-header">Produse</div>
    <ul class="list-unstyled components">
        @foreach (var category in categories)
        {
            <li>
                @Html.ActionLink(category.Name, "Index", "Item", new {id = category.Id}, null)
            </li>
        }
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>