@using FarmaShop.Web.ViewModels.Item
@model ItemsCategoryViewModel
<div class="d-flex justify-content-center flex-wrap flex-">
    @foreach (var item in Model.Items)
    {
        <div>
            @await Html.PartialAsync("Item/_ItemCategoryPartial", item)
        </div>
    }
</div>