@model FarmaShop.Web.Models.Item.ItemModel



<div class="item">
    <div class="row item-first-row">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="/favicon.ico" class="item-image" alt="">
        </div>
        <div class="col-4"></div>
        <div class="col-4 item-price">
            44 LEI
        </div>
    </div>
    <!--    <div class="row">-->
    <!--        <div class="col-8">col-8</div>-->
    <!--        <div class="col-4">col-4</div>-->
    <!--    </div>-->
</div>